:root{
    --primary: #7095F4;
    --bg: #fff;
    --f: #333;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}



body{
        
   background-color: #fff;
   
    
}

/* Navbar */
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 2%;
    background-color: #ffff;
    border-bottom: 1px solid #8686861f;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 520px;
    z-index: 9999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}





.navbar .navbar-nav a{
    color: #000000;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;

}

.navbar .navbar-nav a:hover{
    color: var(--primary);
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}
.navbar .navbar-extra a{
    color: #070707;
    margin: 0 0.5rem;

}

.navbar .navbar-extra a:hover{
    color: var(--primary);
}

#hamburger-menu{
    display: none;
}

.header{
    margin-top: 5.2rem;
    background-color: var(--primary);
    margin-bottom: 15rem;
}
header h1{
    text-align: center;
    color: var(--bg);
    font-size: 1.5rem;
}



.form-container {
    background-color:#7095f441;
    margin: auto;
    max-width: 400px;
    
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-container h2{
    text-align: center;
    padding-bottom: 1rem;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group select {
    height: 35px;
}

.form-group .radio-group {
    
    display: flex;
    align-items: center;
    
}

.form-group .radio-group input[type="radio"] {
    margin-right: 5px;
}

.form-group .calendar-container {
    position: relative;
}
/* CSS untuk tombol "Kirim" */
.tombol-kirim button[type="submit"] {
    background-color: rgba(100, 148, 237, 0.29);
    color: white;
    padding: 12px 20px;
    margin-left: 18.7rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.tombol-kirim button[type="submit"]:hover {
    background-color: var(--primary);
}



/*Footer*/
.footer{
    background-color: var(--primary);
    margin-top: 20rem;
    color: var(--bg);
    padding-top: 15px;
    padding-bottom: 2px;
    text-align:center;
    z-index: 9999;
    
    
}
.footer-logo img {
    height: 35px;
    width: auto;
    filter: grayscale(100%); /* Mengubah gambar menjadi abu-abu sepenuhnya */
}

/*Sosial Media didalam footer */

    
    .footer .icon{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    }
    
    .footer .icon a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .icon a:hover{
    color: var(--bg);
    }
    
    .footer .icon ul{
    width:100%;
    }
    
    .footer .icon ul li{
    display:inline-block;
    margin:0px 30px;
    }
    
    .footer .icon a i{
    font-size:2em;
    margin:0% 1%;
    }
    
   

/*Media Queries*/


/*Dekstop*/
@media(max-width: 1444px){
    html{
        font-size: 90%;
    }

    .navbar .teks{
        padding-right: 24rem;
    }
   
    
    
    .header{
        margin-top: 5.2rem;
    }
   
    
    
    
    /*Footer*/
    .footer-logo img {
        filter: grayscale(100%);
    } 
    
    .alamat p{
        text-align: center;
        margin-right: 1rem;  
    }

    
    
}


/*Tablet*/
@media(max-width: 991px){
    html{
        font-size: 62.5%;
    }

    #hamburger-menu{
        display: inline-block;
    }
    .navbar .teks{
        padding-right: 31rem;
        font-size: 140%;
    }
   

    
    
    
    .navbar .navbar-nav{
        position: absolute;
        top: 110%;
        right: -100%;
        background-color: var(--bg);
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
        border-top: 1px solid #8686861f;
        border-left: 1px solid #8686861f;
    }

   

    .navbar .navbar-nav a{
        color: #000000;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        
    }

    .navbar .navbar-nav.active{
        right: 0;
        
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.3);
    }

    .header{
        margin-top: 6.5em;
    }

    .judul h1{
        font-size: 25px;
    }
    .footer-logo img {
        filter: grayscale(100%);
        
    }
    
    .tombol-kirim button[type="submit"] {
        width: 70px;
        height: 35px;
        padding: 5px 10px;
        margin-left: 28.8rem;
        font-size: 13px;
        border-radius: 7px;
    
        
        
    }
  
}



/*Mobile Phone*/
@media(max-width: 760px){
    html{
        font-size: 55%;
    }


#hamburger-menu{
    display: inline-block;
}
.navbar .navbar-logo img{
    height: auto;
    width: 110px;
    
}

.navbar .teks{
    padding-right: 16rem;
    font-size: 1.3rem;
}




.navbar .navbar-nav{
    position: absolute;
    top: 110%;
    right: -100%;
    background-color: var(--bg);
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
    border-top: 1px solid #8686861f;
    border-left: 1px solid #8686861f;
    border-top-left-radius: 10px;
}



.navbar .navbar-nav a{
    color: #000000;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    
}

.navbar .navbar-nav.active{
    right: 0;
}

.navbar .navbar-nav a::after{
    transform-origin: 0 0;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.3);
}

.header{
    margin-top:7.4rem;
}

.form-container {
    background-color:#7095f441;
    margin: auto;
    
    width: 291px;
    
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select {
    width: 100%;
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.tombol-kirim button[type="submit"] {
    width: 60px;
    height: 30px;
    padding: 5px 10px;
    margin-left: 21.5rem;
    font-size: 13px;
    border-radius: 6px;
}

.footer-logo img {
    filter: grayscale(100%);
}


/*Footer*/
    .footer{
        background-color: var(--primary);
        color: var(--bg);
        padding-top: 15px;
        padding-bottom: 2px;
        text-align:center;
    }

    .footer .alamat {
        text-align: center;
    }

}


    




  

    
    