:root{
    --primary: #7095F4;
    --bg: #fff;
    --f: #333;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}


    


body{
        
   background-color: #fff;
    
}





/* Navbar */
.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 2%;
    background-color: #ffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 520px;
    z-index: 9999;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    
}

.navbar .teks{
    padding-right: 20rem;
}



.navbar .navbar-nav a{
    color: #000000;
    display: inline-block;
    font-size: 1.2rem;
    margin: 0 1rem;

}

.navbar .navbar-nav a:hover{
    color: var(--primary);
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
}
.navbar .navbar-extra a{
    color: #070707;
    margin: 0 0.5rem;

}

.navbar .navbar-extra a:hover{
    color: var(--primary);
}

#hamburger-menu{
    display: none;
}

.header{
    margin-top: 5.2rem;
    background-color: var(--primary);
}
header h1{
    text-align: center;
    color: var(--bg);
    font-size: 1.5rem;
}
.gambar-pertama img{
    
    margin-left: 2rem;
    height: 200px;
    border-radius: 20px;
}
.gambar-pertama p {
    text-align: justify;
    margin-top: 4rem;
}

.gambar-kedua img{
    height: 200px;
    margin-right: 1rem;
    border-radius: 20px;
    
}
.tulisan1{
    margin-top: 10rem;
}

.gambar-kedua p {
    text-align: justify;
    margin-top: 8rem;
    
}
.gambar-ketiga img{
    height: 200px;
    border-radius: 20px;
}

.gambar-ketiga p{
    
    margin-top: 15rem;
    
    
}
.gambar-pertama img,
.gambar-kedua img,
.gambar-ketiga img {
    
    height: 200px;
    border-radius: 20px;
    box-shadow: 0  0 1px 1px rgba(0, 0, 0, 0.621); /* Tambahkan efek shadow di sini */
}





/*Footer*/
.footer{
    background-color: var(--primary);
    color: var(--bg);
    padding-top: 15px;
    padding-bottom: 2px;
    text-align:center;
    box-shadow: 0 0 0 1px#333;
    
    
}
.footer-logo img {
    height: 35px;
    width: auto;
    filter: grayscale(100%); /* Mengubah gambar menjadi abu-abu sepenuhnya */
}

/*Sosial Media didalam footer */

    
    .footer .sosmed{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:2rem;
    }
    
    .footer .sosmed a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
    }
    
    .footer .sosmed a:hover{
    color: var(--bg);
    }
    
   
    
    
   

/*Media Queries*/


/*Dekstop*/
@media(max-width: 1444px){
    html{
        font-size: 90%;
    }
    .navbar .teks{
        padding-right: 24rem;
    }
   
    .tulisan1{
        text-align: center;
        margin-top: 15rem;
    }
    .header{
        margin-top: 5.2rem;
    }
   
    .gambar-pertama{
        text-align: justify;
        margin-right: 1rem;
    }

    .gambar-kedua{
        text-align: justify;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .gambar-ketiga{
        text-align: justify;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 30rem;
        
    }

    
    
    
    .footer-logo img {
        filter: grayscale(100%);
        
    }
   .alamat p{
        text-align: center;
        margin-right: 1rem;
        
        
    }

    
  
}

/*Tablet*/
@media(max-width: 991px){
    html{
        font-size: 62.5%;
    }

    #hamburger-menu{
        display: inline-block;
    }
    .navbar .teks{
        padding-right: 31rem;
        font-size: 140%;
    }
   
    
    
    

    .navbar .navbar-nav{
        position: absolute;
        top: 110%;
        right: -100%;
        background-color: var(--bg);
        width: 20rem;
        height: 100vh;
        transition: 0.3s;
        border-top: 1px solid #8686861f;
        border-left: 1px solid #8686861f;
    }

   

    .navbar .navbar-nav a{
        color: #000000;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        
    }

    .navbar .navbar-nav.active{
        right: 0;
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.3);
    }

    .header{
        margin-top: 6.5em;
    }
    .gambar-pertama img{
    
        margin-left: 2rem;
        height: 150px;
        border-radius: 15px;

    }

    .gambar-kedua img, .gambar-ketiga img{
        height: 150px;
    }
    .gambar-pertama {
        text-align: justify;
        margin-right: 1rem;
    }
    .gambar-kedua{
        text-align: justify;
        margin-left: 1rem;
    }
    .gambar-ketiga{
        text-align: justify;
        margin-right: 1rem;
        
        
    }
    .footer-logo img {
        filter: grayscale(100%);
        
    }
    
    
}



/*Mobile Phone*/
@media(max-width: 760px){
    html{
        font-size: 55%;
    }


#hamburger-menu{
    display: inline-block;
}
.navbar .navbar-logo img{
   height: 50px;
   width: auto;
    
}

.navbar .teks{
    padding-right: 18rem;
    font-size: 10px;
}




.navbar .navbar-nav{
    position: absolute;
    top: 110%;
    right: -100%;
    background-color: var(--bg);
    width: 20rem;
    height: 100vh;
    transition: 0.3s;
    border-top: 1px solid #8686861f;
    border-left: 1px solid #8686861f;
    border-top-left-radius: 10px;
}



.navbar .navbar-nav a{
    color: #000000;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    
}

.navbar .navbar-nav.active{
    right: 0;
}

.navbar .navbar-nav a::after{
    transform-origin: 0 0;
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.3);
}

.header{
    margin-top: 7.5rem;
}

.gambar-pertama img{
    height: 100px;
    width: 130px;

}


 .gambar-kedua img, .gambar-ketiga img{
    height: 100px;
    width: auto;
    
}


.gambar-pertama{
    text-align: justify;
    margin-right: 2rem;
    font-size: 7.7px;
}



.gambar-kedua{
    text-align: justify;
    margin-left: 1rem;
}
.gambar-ketiga{
    text-align: justify;
    margin-right: 1rem;
    
    
}


/*Footer*/
.footer{
    background-color: var(--primary);
    color: var(--bg);
    padding-top: 15px;
    padding-bottom: 2px;
    text-align:center;
}

.footer .alamat {
    text-align: center;
}

.footer .footer-info{
    text-align: center;
}

} 



  
/* Animasi masuk dari samping */
@keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  /* Animasikan gambar pertama */
    .gambar-pertama{
    animation: slideIn 2s forwards; /* Mengatur durasi animasi dan mode forwards untuk mempertahankan posisi akhir animasi */
    }
   
  
  /* Animasikan teks pada gambar kedua */
    .gambar-kedua{
        animation: slideIn 2.5s forwards; /* Mengatur durasi animasi dan mode forwards untuk mempertahankan posisi akhir animasi */
    }
  
  /* Animasikan teks pada gambar ketiga */
    .gambar-ketiga{
        animation: slideIn 3s forwards; /* Mengatur durasi animasi dan mode forwards untuk mempertahankan posisi akhir animasi */
    }
    .tulisan1{
        animation: slideIn 3s forwards;
    }